body{
    margin: 0;
    padding: 0;
}
.sec1{
    
    background-image: linear-gradient(to right bottom, rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/university1.jpg);
    width: 100%;
    color: #fff;
    background-size: 100% 500px;
    height: 500px;
    background-repeat:no-repeat;
    font-family: KeepCalm,sans-serif;
    text-align: center;
    margin: 0;

}
.sec2{
   font-weight: 900;
    font-size: 48px;
    padding-top: 20px;
}

.sec3 h1{
    border:solid white ;
    background: white;
    color: black;
    margin: 70px 25px;
    width: 250px;
    height: 60px;
    font-weight: 400;
    font-size: 36px;
    border-radius: 10px 4px;
    display: inline-block;
    float: right;

}

.sec4{
    padding-left: 70px;
    margin-top: 60px;

}
.foot{
    margin-top: 450px;
}


