.contact{
    background-image: linear-gradient(to right,rgba(5,56,150,.5), rgba(0,0,0,.5)), url(../images/teacher.jpg);
    width: 100%;
    height: 300px;
    position: relative;
  
}
.contact1{
    color: white;
    font-family: monospace;
    padding-top: 100px;
    float: left;
    padding-left: 100px;
}
.con1{
    background: #6699CC;
    width: 350px;
    height: 290px;
    position: absolute;
    margin-top: 215px;
    margin-left: 100px;
    padding-top: 40px;
    color: black;
    box-shadow: 5px 5px 5px 5px;
   
}
.con1 center{
    color: azure;
}
.con1 a{
    color: azure;
}
.con1:hover{
    background: #336699;
    
}
.map{
     background-image: linear-gradient(to right,rgba(5,56,150,.2), rgba(0,0,0,.2)), url(../images/map.jpg);
    
    width: 750px;
    height: 300px;
    position: absolute;
    margin-top: 210px;
    margin-left: 500px;
    padding-top: 40px;
   background-size: 750px 300px;

   
}
.footer1{
    margin-top: 220px;
}