*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.course{
    
    background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/course.jpg);
    background-size: 100% 250px;
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
    line-height: 10px;
    padding-top: 50px;
}
.course h1{
    font-size: 50px;
    font-weight: 700;
}
.course p{
    font-size: 18px;
    font-weight: 300;
}

.img{
    margin: 5rem 15rem;
    
   
}
.imgg1{
    border: 1px solid black;
    height: 6rem;
    width: 80%;
}
.img1{
height:6rem;
    width: 6rem;
    background-size: 6rem 6rem;
    float: left;
}
.imgg1 h5{
float: left;
display: inline;   
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    
    
}
.but{
  margin-left: 5rem;
    margin-top: 1.5rem;
    background-color: red;
    color: white;
}
.feature{
     background-image: linear-gradient( to right, #7ed56f, #28b485);
    text-align: center;
    color: white;
}
.feature h1{
    font-size: 3rem;
    font-weight: 700;
}


.img-four{
    width: 45%;
    float: left;
    height: 400px;
    margin: 30px;
    margin-left: 30px;
    background-size: 100% 14rem;
    margin-top: 8rem;
    

    
}
.course-title{
    padding-top: 15rem;
}

.c1{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c1.jpg);
    height: 15rem;

}
.c2{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c2.jpg);
      height: 15rem;

}
.c3{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c3.jpg);
     height: 15rem;
}
.c4{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c4.jpg);
    height: 15rem;
}


