*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.course{
    
    background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/course.jpg);
    background-size: 100% 250px;
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
    line-height: 10px;
    padding-top: 50px;
}
.course h1{
    font-size: 50px;
    font-weight: 700;
}
.course p{
    font-size: 18px;
    font-weight: 300;
}

.row{
   
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

.row .col2{
        width: 50%;
}

.col2::after{
    content: "";
    display: table;
    clear: both;
}

.online-img{
    
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/online-img.jpg);
    height: 400px;
    width: 95%;
    background-size: 100% 400px;
    margin-left: 40px;
}

.online-title{
    padding-top: 300px;
}
.online-title h1{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.but{
    margin-left: 10px;
}
.upper{
    width: 100%;
    display: block;
    
}

.upper::after{
    content: "";
    display: table;
    clear: both;
}

.img-four{
    width: 44%;
    float: left;
    height: 180px;
    margin: 10px;
    margin-left: 30px;
    background-size: 100% 180px;
    
}

.c1{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c1.jpg);

}
.c2{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c2.jpg);
    
}
.c3{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c3.jpg);

}
.c4{
     background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/c4.jpg);
}
.course-title{
    padding-top: 95px;
    color: white;

}
.but{
    background: rgb(128, 128, 204);
    color: white;
}
.footer1{
    margin-top: 5rem;
  

}