*{
    margin: 0;
    padding: 0;
   
}
.course{
    
    background-image: linear-gradient(rgba(82, 92, 80, 0.5), rgba(74, 82, 79, 0.5)),  url(../images/course.jpg);
    background-size: 100% 250px;
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
    line-height: 10px;
    padding-top: 50px;
}
.course h1{
    font-size: 50px;
    font-weight: 700;
}
.course p{
    font-size: 18px;
    font-weight: 300;
}

.img{
    margin: 5rem 14rem;
   
}
.imgg1{
   
    height: 6rem;
    width: 80%;
}
.img1{
    clear: both;
    height:15rem;
    width: 15rem;
    background-size: 6rem 6rem;
    float: left;
    margin:.9rem;
    
}
.pa{
    float: left;
    padding-top: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    
    
}
.para{
padding-top:5rem;
font-size: .8rem;
   
}
    
   
.but{

    margin-top:.2rem;
    background-color:cadetblue;
    color: white;
    margin-right: 22rem;

}


.footer1{
    clear: both;
    margin-top: 13rem;
}
