@font-face{
	font-family: KeepClam;
	src:url(../KeepCalm-Medium.ttf) format("truetype");
}

.new{
    
    width: 100%;
    height: 30px;
    background-color:#76c476;
    margin: 0;
    padding:0;
    font-size: 15px;
    color: white;
}

.headerbar{
	width: 100%;
	height: 60px;
	background-color:#ebe2eb;
	position:relative;
	margin: 0;
    padding: 0;
}
.nav{
	color:rgb(69, 218, 32);
	float: left;
	padding-left: 20px;
	font-size: 28px;
	padding-top: 8px;
	font-weight: 700;
}
.nav:hover{
	text-decoration: none;
	color: #eee;
}
.headerbar ul{
	float: right;
	margin-right: 15px;
    margin-bottom: -9px;
}
.headerbar ul li{
	list-style: none;
	float: left;
	padding: 22px 12px;
    
}
.headerbar ul li a{
	color:black;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: serif;
}
.headerbar ul li a:hover{
	text-decoration: none;
	color: rgb(221, 149, 149);
}
.headerbar ul li a:focus{
	text-decoration: none;
	color: #bbb;

}
.headerbar ul ul{
	clear: both;
	float: none;
	margin-left: 0px;
	padding-left: 0px;
	position: absolute;
	background-color: rgb(209, 213, 216);
	width: auto;
	margin-top: 17px;
	display: none;
	z-index: 20;
}
.headerbar ul ul li{
	float: none;
	padding: 5px 5px;
	border-top: 1px solid #fff;
}
.headerbar ul ul li a{
	color: rgb(29, 28, 28);
	font-size: 13px;
	font-weight: 400;
	display: block;
	padding: 2px 7px;
}
.headerbar ul ul li a:hover{
	color: #000;
	text-decoration: none;
}
.headerbar ul ul li:hover{
	background-color: rgb(218, 181, 181);
}
.headerbar ul ul li:hover > a{
	color: #000;
}
.headerbar ul li:hover > ul{
	display: block;
}


h6{
    color: aqua;
}
.carousel-caption h1{
    color:#33FF99;
    padding-right: 550px;
   
}
.carousel-caption  p{
    color: #99FF33;
    font-weight: 900px;
    padding-bottom: 320px;
    padding-right: 550px;
}
.footer1{
    margin-top: 50px;
}

