.teacher{
    background-image:linear-gradient(to right,rgba(5,56,150,.5), rgba(0,0,0,.5)), url(../images/teacher.jpg);
    width: 100%;
    height: 250px;
    background-size: 100% 250px;

    
}
.teacher1{
    color: #33FF99;
    font-family:cursive;
    padding-top: 20px;
    
}
.tec-img{
    float: left;
    margin-top: 70px;
    margin-left: 110px;
    height: 390px;
    width: 300px;
    background:white;
    box-shadow: 5px 5px 5px 5px ;
    
}
.tec-img:hover{
    background: #99CCFF;
}
.user{
    height: 200px;
    width: 200px;
    margin: 50px;

}
.but{
    border-radius: 8px;
    background: #0066FF;
    color: aliceblue;
}
.but:hover{
    background: #33FF99;
}
.footer1{
    margin-top: 1000px;
    
}
.teacher1 h2{
    animation: type 3s steps(11);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid green;
    width: 11ch;
    
}
@keyframes type{
    0% {
        width: 0ch;
    }
    100%{
        width: 12ch;
    }
}